* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff00cc;
}

header > .container {
  display: flex;
  justify-content: center;
}

.hide__add__toast {
  position: relative;
}

.add__toast__img {
  width: 100%;
}

.container > #hide__add__toast {
  width: 100%;
}

.toast__cross {
  position: absolute;
  top: 10;
  right: 12%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.daraz__subNav {
  background: #ececec;
  font-size: 15px;
}

@media (max-width: 992px) {
  .toast__cross {
    right: 8%;
    top: 10;
    font-size: 20px;
  }
}
