* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #f5f5f5;
}

header {
  background-color: #ff00cc;
}

header > .container {
  display: flex;
  justify-content: center;
}

.hide__add__toast {
  position: relative;
}

.add__toast__img {
  width: 100%;
}
.daraz__giff {
  width: 100%;
}
.container > #hide__add__toast {
  width: 100%;
}

.toast__cross {
  position: absolute;
  top: 10;
  right: 12%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.daraz__subNav {
  background: #ececec;
  font-size: 15px;
  transition: 0.5s;
}

a.nav-link.text-uppercase {
  font-size: 14px;
  color: #97a5bf;
}
a.nav-link.text-uppercase:hover {
  text-decoration: underline;
  color: #f57224;
}

ol.carousel-indicators {
  background: transparent;
}
input.form-control.mr-sm-2.daraz__searchForm {
  width: 650px;
  padding: 23px;
  border: none;
  background: #f5f5f5;
  z-index: 10;
}

input.form-control.mr-sm-2.daraz__searchForm:focus {
  box-shadow: none !important;
  outline: none !important;
}
.daraz__searchBtn {
  padding: 10px 20px !important;
  background: #f57224 !important;
  border: none !important;
  margin-left: -10px !important;
  z-index: 10 !important;
}

.daraz__searchBtn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.daraz__navbar {
  z-index: 1;
}

.daraz__cart {
  font-size: 28px;
  color: black;
}

span.carousel-control-prev-icon {
  display: none;
}

span.carousel-control-next-icon {
  display: none;
}

li.daraz__round {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 10px 10px 10px lightgrey;
}

.daraz__navbarSticky {
  padding: 0px !important;
  width: 100% !important;
}
.daraz__categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categoryBtn {
  height: 50px;
  width: 220px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  transition: 0.2s;
  background-color: white;
}

.darazCategoryIcon {
  display: none;
}
.categoryBtn:hover .darazCategoryIcon {
  display: block;
}

.categoryBtn:hover {
  box-shadow: 5px 5px 10px lightgrey;
  color: #ce60ff;
}

@media (max-width: 992px) {
  .toast__cross {
    right: 8%;
    top: 10;
    font-size: 20px;
  }
  .categoryBtn {
    max-width: 100%;
    height: auto;
  }
}
